body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  min-height: 1200px;

  color: #000;
  background-color: #fff;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visability-hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  font-style: 500;
  line-height: 18px;

  display: inline-block;

  padding: 20px 40px;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 3px;
  background-color: #fb565a;
}

.btn:hover {
  background-color: #e74246;
}

.slide-text .btn {
  padding: 20px 55px;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
}

.btn-green:active {
  background-color: #00aa62;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
}

.btn-yellow:active {
  background-color: #e5a722;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
}

.btn:active .text-active {
  opacity: .3;
}

.map .btn {
  padding-right: 45px;
  padding-left: 45px;
}


/*** HEADER ***/


.main-header {
  margin-bottom: 80px;
  padding-top: 50px;

  background-color: #eee;
}

/* Main Header Layout */

.main-header-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 20px;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-navigation {
  width: 440px;
  padding-top: 20px;
}

.index-logo {
  width: 161px;
  height: 65px;
}

.main-navigation ul {
  font-size: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
}

.main-navigation li {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.main-navigation a {
  display: block;

  text-decoration: none;
  text-transform: uppercase;

  color: #000;
}

.main-navigation .active {
  border-bottom: 2px solid #fb565a;
}

.main-navigation a:hover,
.cart-block:hover a {
  color: #fb565a;
}

.main-navigation a:active,
.cart:active {
  color: #a7a7a7;
}

.cart-block {
  padding-top: 20px;
  padding-left: 35px;
}

.cart {
  font-weight: 500;

  position: relative;

  text-decoration: none;
  text-transform: uppercase;

  color: #000;
}

.cart::before {
  position: absolute;
  top: 1px;
  right: 90px;

  width: 16px;
  height: 16px;

  content: '';

  opacity: .3;
  background-image: url('../img/sprite.png');
  background-position: -30px -30px;
}

/* Slider */

.slider {
  position: relative;
  
  width: 1160px;
  height: 430px;
  margin: 0 auto;
}

.slider input[type=radio] {
  position: absolute;

  opacity: 0;
}

.slider-controls {
  position: absolute;

  z-index: 10;
  bottom: 95px;
  left: 50%;

  width: 200px;
  height: 10px;
  margin-left: -100px;

  text-align: center;
}

.slider-controls label {
  display: inline-block;

  width: 8px;
  height: 8px;
  margin: 0 3px;

  cursor: pointer;
  vertical-align: top;

  border: 5px solid #fff;
  border-radius: 50%;
  background: #fff;
}

#btn-1:checked ~ .slider-controls label[for='btn-1'],
#btn-2:checked ~ .slider-controls label[for='btn-2'],
#btn-3:checked ~ .slider-controls label[for='btn-3'] {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;

  width: 100%;
  height: 100%; 
}

.slide-text {
  width: 520px;
  padding-top: 65px;
  color: #283136;
}

.slide-text p {
  margin-top: 30px;
  margin-bottom: 40px;
}

.slide-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000;
}

.slide:nth-child(1) {
  background-image: url('../img/index/slider-img-1.png');
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slide:nth-child(2) {
  background-image: url('../img/index/slider-img-2.png');
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(3) {
  background-image: url('../img/index/slider-img-3.png');
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slide {
  display: none;
}

#btn-1:checked~.slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked~.slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked~.slides .slide:nth-child(3) {
  display: block;
}


/*** MAIN ***/


/* Services */

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 80px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-item {
  width: 300px;
}

.services-item-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.services-item-desc {
  margin-bottom: 35px;
}

/* About us */

.about-us {
  margin-top: 40px;
  margin-bottom: 45px;
  padding-bottom: 75px;
}

.index-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.index-content-left {
  width: 700px;
}

.index-content-right {
  width: 360px;
}

.about-us-lead {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  margin-top: 40px;
  margin-bottom: 35px;
}

.about-us-text {
  margin: 0;
  margin-bottom: 45px;

  color: #283136;  
}

.serveces-list-heading {
  font-weight: 700;

  margin: 0;
  margin-bottom: 15px;

  text-transform: uppercase;
}

.serveces-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.serveces-list li {
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.serveces-list li::before {
  position: absolute;
  top: 20px;
  left: 0;

  width: 30px;

  content: '';

  border: 1px solid #fb565a;
}

.index-content-right b {
  font-weight: 700;

  display: block;

  margin-top: 40px;

  text-align: center;
  text-transform: uppercase;
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}

.statistic-number {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  position: relative;

  margin: 0;
}

.statistic-percent {
  position: absolute;
  top: -6px;
  
  font-size: 28px;
}

/* Our Partners */

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 80px;
  padding-bottom: 45px;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
}

.parthners-link {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  text-align: center;
}

.parthners-link:nth-child(-n+4) {
  background: url("../img/index/our-parthners-separator.png") no-repeat right;
}

.partners img {
  opacity: .2;
}

.partners img:hover {
  opacity: 1;
}

/* Content separator */

.services,
.about-us,
.partners {
  background: url('../img/index/index-content-separator.png') no-repeat bottom;
}

/* Map */

.map {
  position: relative;

  margin-bottom: 60px;
}

.map iframe {
  width: 100%;
}

.map-text {
  position: absolute;
  top: 10px;
  right: 40px;

  padding: 50px;

  background: #fff;
}

.map-text-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;
}

.map-text p {
  line-height: 18px;

  margin-top: 30px;
  margin-bottom: 35px;

  color: #666;
}


/*** FOOTER ***/


.main-footer {
  padding-bottom: 55px;
}

.main-footer-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.social-btn {
  font-size: 0;

  width: 80px;
  height: 80px;
  margin-right: 12px;

  -webkit-transition: background-color .7s;

  -o-transition: background-color .7s;

  transition: background-color .7s;
  text-decoration: none;

  border-radius: 50%;
  background: #e1e1e1 url('../img/sprite.png') no-repeat center;
  background-color: #e1e1e1;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-btn-vk {
  background-position: -313px 3px;
}

.social-btn-fb {
  background-position: -153px -2px;
}

.social-btn-inst {
  background-position: -229px -1px;
}

.footer-stock {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.footer-stock-lead {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-stock-text {
  line-height: 22px;

  margin: 0;

  color: #444;
}